.h3 {
    width: 250px;
    height: 30px;
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.buttonSize {
    width: 170px;
    height: 30px;
    font-size: 20px;
}

.linkSize {
    font-size: 25px;
}