<div style="background-color: rgb(127, 229, 255);" class="center">
    <a routerLink="/login" style="font-size: 20px;">Login</a>
    <label style="font-size: 20px;">&nbsp;&nbsp;|&nbsp;&nbsp;</label>
    <a routerLink="/mainView" style="font-size: 20px;">Explore our offers</a>
</div>
<h1 class="center">Please enter your information</h1>
<br><br>
<form class="form">
    <div class="myself">

        <div class="property">
            <label style="font-size: 30px;" >e-mail:&nbsp;</label>
        </div>
        <div class="value">
            <input class="h3" type="text">
        </div>
        <br>
        <div class="property">
            <label style="font-size: 30px;">Password:&nbsp;</label>
        </div>
        <div class="value">
            <input class="h3" type="password">
        </div>
        <br>
        <div class="property">
            <label style="font-size: 30px;">Reapeat password:&nbsp;</label>
        </div>
        <div class="value">
            <input class="h3" type="text">
        </div>
        <br><br>
        <div class="property">
            <label style="font-size: 30px;">Name:&nbsp;</label>
        </div>
        <div class="value">
            <input class="h3" type="text">
        </div>
        <br>
        <div class="property">
            <label style="font-size: 30px;">Last name:&nbsp;</label>
        </div>
        <div class="value">
            <input class="h3" type="text">
        </div>
        <br><br>
        <div class="property">
            <label style="font-size: 30px;">City:&nbsp;</label>
        </div>
        <div class="value">
            <input class="h3" type="text">
        </div>
        <br>
        <div class="property">
            <label style="font-size: 30px;">Phone number:&nbsp;</label>
        </div>
       <div class="value">
           <input class="h3" type="text">
       </div>
        <br><br>
    </div>
        <div class="center">
            <button type="submit" class="buttonSize btn btn-primary">Register</button>
        </div>
</form>